<div class="row-fluid" >
	<div>
		<h3 class="header lighter blue" style="margin-top:0">Rubricas
		<small><i class="icon-double-angle-right"></i> Nueva Rubrica</small>
		<small ng-hide="Formulario.EstaCuestionario"><i class="icon-double-angle-right"></i> Datos Generales</small>
		<small ng-show="Formulario.EstaCuestionario"><i class="icon-double-angle-right"></i> Cuestionario</small></h3>
	</div>
	<div id="contenedorPrincipal" ng-if="!loader.estadoLoader" ng-show="loader.estadoFormulario" class="animation" >
		<div id="DatosGenerales" ng-hide="Formulario.EstaCuestionario" >
			<div class="row-fluid">
				<div class="control-group span6">
					<label class="control-label" for="cboCurso">Curso </label>
					<div class="controls">
						<select class="chzn-select" id="cboCurso" data-placeholder="Seleccione el Curso.." style="width:250px" cmb-chosen elementos="cursos" ng-options="curso.CodCurso+' - '+curso.DesCurso group by curso.CicloCurso for curso in cursos" ng-model="cursoSeleccionado" ng-change="Formulario.callBackCboCurso(cursoSeleccionado)">
							<option value=""> -- Escoje Curso -- </option>
						</select>
					</div>
				</div>
				<div class="control-group span6">
					<div class="control-group">
						<label class="control-label" for="tipoRubrica">Rubrica en </label>
						<div class="controls">
							<label class="radio inline" style:"padding-left:0px">
								<input name="tipoRubrica" ng-model="modeloRubrica.tipoModeloRubrica" value="Curso" type="radio"> Curso
							</label>
							<label class="radio inline">
								<input name="tipoRubrica" ng-model="modeloRubrica.tipoModeloRubrica" value="Proyecto" type="radio"> Proyecto
							</label>
							<label class="radio inline">
								<input name="tipoRubrica" ng-model="modeloRubrica.tipoModeloRubrica" value="Otro" type="radio"> Otro 
							</label>
							<input type="text" name="semestreAcademico" value="" style="margin:0 0 0 4px;max-width:150px">
						</div>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<div class="row-fluid">
						<div class="control-group span6">
							<label for="semestreAcademico" class="control-label">Semestre</label>
							<div class="controls">
								<input id="semestreAcademico" type="text" name="semestreAcademico" ng-model="semestre[0].Semestre" >
							</div>
						</div>
						<div class="control-group span6">
							<label for="cboDocente" class="control-label">Calificacion A</label>
							<div class="controls">
								<label class="radio inline">
									<input name="calificacionA" ng-model="modeloRubrica.calificacionRubrica" type="radio" value="Alumnos">Alumnos	
								</label>
								<label class="radio inline">
									<input name="calificacionA" ng-model="modeloRubrica.calificacionRubrica" type="radio" value="Docentes">Docentes
								</label>
							</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="control-group">
							<label class="control-label" for="contenedorDocentesSeleccionados">Docentes Calificadores</label>
							<div class="controls">
								<div id="contenedorDocentesSeleccionados" class="widget-box">
									<div class="widget-header widget-healder-small header-color-dark">
										<h6 class="inline">Docentes Seleccionados</h6>
										<input type="text" ng-model="txtBusquedaDocente" placeholder="Buscar ..." style="margin:4px 5px 0 0">
									</div>
									<div class="widget-body" style="border:1px solid #666" >
										<div class="widget-main padding-4">
											<div class="container-scroll">
												<div class="content">
													<div ng-repeat="docente in docentes | filter : txtBusquedaDocente">
														<label class="checkbox check-box">
															<input type="checkbox" ng-model="docente.estaSeleccionado" ng-change="Formulario.AgregarDocente(docente)"/>
															<p>{{docente.ApepPer+' '+docente.ApemPer+', '+docente.NomPer}}</p>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="row-fluid">
						<div class="control-group">
							<label class="control-label"for="id-date-range-picker-1">Rango de Fecha</label>
							<div class="controls">
								<div class="control-group">
									<label for="fechaInicio" class="control-label inline">Fecha Inicio</label>
									<input class="date-picker fecha" fecha id="fechaInicio" type="text" data-date-format="yyyy-mm-dd" ng-model="modeloRubrica.fechaInicio"/>
								</div>
								<div class="control-group">
									<label for="fechaInicio" class="control-label inline">Fecha Final</label>
									<input class="date-picker fecha" fecha id="fechaFinal" type="text" data-date-format="yyyy-mm-dd" ng-model="modeloRubrica.fechaFinal"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<grupo-botones>
				<btn-siguiente ng-click="Formulario.MostrarCuestionario()">Cuestionario </btn-siguiente>
			</grupo-botones>
		</div>
		<!-- <div id="ListaAlumnos" ng-show="Formulario.EstaCuestionario" >
			<div class="row-fluid">
				<div class="span6">
					<div ui-sortable="sortableOptions" class="app-container" ng-model="alumnos">
						<div ng-repeat="alumno in alumnos | filter : txtAlumnos" class="alumno">
							<label class="checkbox check-box">
								<input type="checkbox" ng-model="alumno.estaSeleccionado" ng-change="Formulario.callBackCheckBoxAlumno(alumno)" ng-init="alumno.estaSeleccionado=true"/>
								<p>{{alumno.NomPer}}</p>
							</label>
						</div>
					</div>
				</div>
				<div class="span6">
					<div ui-sortable="sortableOptions" class="app-container" ng-model="grupoAlumnos">
						<div ng-repeat="a in alumnoss | filter : txtAlumnos" class="a">
							<label class="checkbox check-box">
								<input type="checkbox" ng-model="a.estaSeleccionado" ng-change="Formulario.callBackCheckBoxAlumno(alumno)" ng-init="alumno.estaSeleccionado=true"/>
								<p>{{a.NomPer}}</p>
							</label>
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div> -->
		<div id="Cuestionario" ng-show="Formulario.EstaCuestionario" >
			<div class="row-fluid">
				<div class="span5">
					<div class="row-fluid">
						<div class="control-group">
							<label class="control-label" for="form-field-select-3">Resultado de Aprendizaje</label>
							<div class="controls row-fluid">
								<div class="span8">
									<select class="chzn-select" id="cboResultados" data-placeholder="Seleccione el Curso.." cmb-chosen elementos="resultadosAprendizaje" ng-options="resultadoAprendizaje.codigoResultadoAprendizaje+ '- '+resultadoAprendizaje.tituloResultadoAprendizaje for resultadoAprendizaje in resultadosAprendizaje" ng-model="resultadoAprendizajeSeleccionado">
										<option value=""> -- Seleccione Resultado de Aprendizaje -- </option>
									</select>
								</div>
								<div class="span4">
									<label class="checkbox check-box">
										<input type="checkbox" ng-model="checkBoxResultadoAprendizaje" ng-change="Formulario.callBackCheckBoxRaDocente(checkBoxResultadoAprendizaje)"/>
										<p>RA Docente</p>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="widget-box">
							<div class="widget-header widget-healder-small header-color-dark">
								<h6 class="inline">Criterios de Evaluacion</h6>
								<input type="text" ng-model="txtBusquedaCriterio" placeholder="Buscar ..." style="margin:4px 5px 0 0">
							</div>
							<div class="widget-body" style="border:1px solid #666">
								<div class="widget-main">
									<div class="container-scroll">
										<div class="content">
											<div ng-repeat="criterioEvaluacion in resultadoAprendizajeSeleccionado.criteriosEvaluacion | filter : txtBusquedaCriterio" style="margin-bottom:5px">
												<label class="checkbox check-box">
													<input type="checkbox" ng-model="criterioEvaluacion.estaSeleccionado" ng-change="Formulario.AgregarCriterioSeleccionado(resultadoAprendizajeSeleccionado,criterioEvaluacion)"/>
													<p>{{criterioEvaluacion.descripcionCriterioEvaluacion}}</p>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span7">
					<div class="widget-box transparent">
						<div class="widget-header">
							<h4 class="lighter smaller">
								Criterios Seleccionados
							</h4>
						</div>
						<div class="widget-body">
							<ul id="tasks" class="item-list" ui-sortable ng-model="modeloRubrica.resultadosAprendizaje">
								<li ng-repeat="resultadoAprendizaje in modeloRubrica.resultadosAprendizaje">
									<div class="widget-box">
										<div class="widget-header header-color-dark" style="cursor:move;">
											<h4 class="color-gris">{{resultadoAprendizaje.nombreResultadoAprendizaje}}</h4>
											<span class="widget-toolbar">
												<a style="cursor:pointer;" data-action="collapse">
													<i class="icon-chevron-up"></i>
												</a>
											</span>
										</div>
										<div class="widget-body">
											<div class="widget-main">
												<div class="row-fluid">
													<ul id="tasks" class="item-list" ui-sortable ng-model="resultadoAprendizaje.criteriosEvaluacion">
														<li class="item-blue clearfix" ng-repeat="criterio in resultadoAprendizaje.criteriosEvaluacion" style="cursor:move;">
															<label class="checkbox check-box" style="border-bottom:none !important">
																<input type="checkbox" style="opacity:1"/>
																<p>{{criterio.descripcionCriterioEvaluacion}}</p>
															</label>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>	
						</div>
					</div>
				</div>
			</div>
			<hr>
			<grupo-botones>
				<btn-atras ng-click="Formulario.OcultarCuestionario()">Datos Generales </btn-atras>
				<btn-guardar ng-click="Formulario.Guardar()">Guardar </btn-guardar>
			</grupo-botones>
		</div>
	</div>
	<pantalla-loading loader="loader">Cargando Información ... </pantalla-loading>
	<pantalla-guardar-loading loader="loader">{{loader.mensajeGuardar}}</pantalla-guardar-loading>
	<pantalla-guardar-exitoso loader="loader" ng-click="Formulario.callBackGuardar()">{{loader.mensajeGuardado}}</pantalla-guardar-exitoso>
</div>

<script src="assets/js/jquery.slimscroll.min.js"></script>
<script src="assets/js/jquery.sticky.js"></script>

<script type="text/javascript">
	$(function(){
		var agent = navigator.userAgent.toLowerCase();
			if("ontouchstart" in document && /applewebkit/.test(agent) && /android/.test(agent))
			  $('#tasks').on('touchstart', function(e){
				var li = $(e.target).closest('#tasks li');
				if(li.length == 0)return;
				var label = li.find('label.inline').get(0);
				if(label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation() ;
			});
		$('#tasks').sortable({
				opacity:0.8,
				revert:true,
				forceHelperSize:true,
				placeholder: 'draggable-placeholder',
				forcePlaceholderSize:true,
				tolerance:'pointer',
				stop: function( event, ui ) {//just for Chrome!!!! so that dropdowns on items don't appear below other items after being moved
					$(ui.item).css('z-index', 'auto');
				}
				}
			);
		$('#tasks').disableSelection();
		widget_boxes();
	});
</script>
