<div id="row-fluid">
	<div>
		<h3 class="header lighter blue" style="margin-top:0">Rubricas
		<small ng-show="EstaRubricasCreadas"><i class="icon-double-angle-right"></i> Reporte General</small>
		<small ng-hide="EstaRubricasCreadas"><i class="icon-double-angle-right"></i> {{idModeloRubrica}} </small></h3>
	</div>
	<div id="contenedorPrincipal"	ng-if="!loader.estadoLoader" class="animation">
		<div class="row-fluid">
			<div class="btn-group">
			  	<button data-toggle="dropdown" class="btn btn-info dropdown-toggle">Exportar Reporte <i class="icon-angle-down icon-on-right"></i></button>
				<ul class="dropdown-menu">
					<li><a ng-click="exportarExcel()">Excel</a></li>
					<li><a ng-click="exportarXHTML()">XHTML</a></li>

				</ul>
			</div>
		</div>
		<!-- <chart value="reporte" width="800" height="400"></chart> -->
		<div id="exportarXHTML">
			<div dx-chart data="dataSource" titulo="{{idModeloRubrica}}">
				
			</div>
			<div class="row-fluid">
				<div id="exportarReporte">
					<table class="table" >
						<caption><h4 class="blue">Tabla Resumen</h4></caption>
						<thead>
							<tr>
								<th>Persona Calificada</th>
								<th ng-repeat="resultadoAprendizaje in dataReporte">{{resultadoAprendizaje.codigoResultadoAprendizaje}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="personaCalificada in dataCuadro">
								<td>{{personaCalificada.personaCalificada}}</td>
								<td ng-repeat="calificacionPromedio in personaCalificada.calificacionesPromedio track by $index">{{calificacionPromedio}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<pantalla-loading loader="loader">Cargando Reporte ... </pantalla-loading>
</div>