<div class="row-fluid">
	<div>
		<h3 class="header lighter blue" style="margin-top:0">Rubricas
		<small><i class="icon-double-angle-right"></i> Mis Rubricas</small>
		<small><i class="icon-double-angle-right"></i> {{idRubricaCreada}}</small></h3>
	</div>
	<div id="ResultadoRubricaAsignada" ng-if="!loader.estadoLoader" class="animation">
		<div class="row-fluid">
			<input type="text" style="margin-top:5px" placeholder="Buscar..." ng-model="txtBusqueda">
			<btn-atras ng-click="volver()">Mis Rubricas</btn-atras>	
		</div>
		<br>
		<div class="row-fluid">
			<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>		
							<th>Estado Rubrica</th>
							<th>Total Rubrica</th>
							<th>Docente Calificador</th>
							<th>Alumno Calificado</th>
							<th>Fecha Completado</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="resultadoRubrica in resultadoRubricaPorRubricaCreada | filter: txtBusqueda">
							<td><span ng-bind-html="resultadoRubrica.estadoRubrica | estado"></span></td>
							<td>{{resultadoRubrica.totalRubrica}}</td>
							<td>{{resultadoRubrica.docenteCalificador}}</td>
							<td><span ng-bind-html="resultadoRubrica.alumnosCalificados | alumnos"></span></td>
							<td>{{resultadoRubrica.fechaCompletadoRubrica | fecha}}</td>
							<td class="td-actions">
								<div class="hidden-phone visible-desktop action-buttons">
									<a class="blue" href="#MisRubricas/{{rubricaCreada.id}}/ListarEstadoRubrica">
										<i class="icon-zoom-in bigger-130"></i>
									</a>
									<a class="green" ng-click="Interfaz.alert3()">
										<i class=" icon-edit bigger-130"></i>
									</a>
								</div>
								<div class="hidden-desktop visible-phone">
									<div class="inline position-relative">
										<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
											<i class="icon-caret-down icon-only bigger-120"></i>
										</button>
										<ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
											<li>
												<a href="#MisRubricas/{{rubricaCreada.id}}/ListarEstadoRubrica" class="tooltip-info" data-rel="tooltip" title="View">
													<span class="blue">
														<i class="icon-zoom-in bigger-120"></i>
													</span>
												</a>
											</li>
											<li>
												<a ng-click="Interfaz.alert3()" class="tooltip-success" data-rel="tooltip" title="Edit">
													<span class="green">
														<i class=" icon-edit bigger-120"></i>
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
			</table>
		</div>
	</div>
	<pantalla-loading loader="loader">Cargando Resultados de Rubrica ... </pantalla-loading>
</div>
